<div class='inline quiet'>
  <a href='#fakelink'>
    <%= image_tag img, width: 20, class: 'img-rounded inline', style: 'margin-right: 3px;' %>
    <strong class='quiet'>Mordecai</strong>
  </a>
  <span>on October 2016</span>
</div>
