<li class="pad2y <%= 'keyline-bottom' unless last %>">
  <div class='media contain'>
    <%= link_to nil, '/member.html', class: 'permalink pin-topleft block' %>
    <div class='media-left pad1r' href='#fakelink'>
      <%= image_tag person[:url], class: 'img-rounded', width: 85 %>
    </div>
    <div class='media-body pad0l'>
      <h4><%= person[:name] %></h4>
      <p class='hidden-xs'>Product designer at Bluth Company</p>
      <ul class='stats'>
        <li class='inline pad2r hidden-xs'>
          <strong class='block space-bottom0 small'>15</strong>
          <small class='quiet'>Talks</small>
        </li>
        <li class='inline pad2x keyline-left followers'>
          <strong class='block space-bottom0 small'>26</strong>
          <small class='quiet'>Followers</small>
        </li>
        <li class='inline pad2x keyline-left following'>
          <strong class='block space-bottom0 small'>5</strong>
          <small class='quiet'>Following</small>
        </li>
        <li class='inline pad2x keyline-left hidden-xs'>
          <strong class='block space-bottom0 small'>33</strong>
          <small class='quiet'>Favorites</small>
        </li>
      </ul>
    </div>
    <a href='#fakelink' class='btn btn-default pin-topright'>
      <i class='icon icon-plus pad1r'></i>Follow
    </a>
  </div>
</li>