---
title: Mordecai
---

<header class='inset-header dark profile'>
  <div class='container-fluid contain clearfix'>
    <div class='media contain'>
      <a class='media-left pad1r' href='#fakelink'>
        <%= image_tag 'batman.jpg', class: 'img-rounded', width: 130 %>
      </a>
      <div class='media-body pad1l'>
        <h1>
          Mordecai<span class='badge fill-lighten0 dark small pad1x round inline'>speaker</span>
        </h1>
        <p class='lead quiet'>Product designer at Bluth Company</p>
        <ul class='stats'>
          <li class='inline pad2r'>
            <strong class='block space-bottom0'>15</strong>
            <small class='quiet'>Talks</small>
          </li>
          <li class='inline pad2x keyline-left'>
            <strong class='block space-bottom0'>26</strong>
            <small class='quiet'>Followers</small>
          </li>
          <li class='inline pad2x keyline-left'>
            <strong class='block space-bottom0'>5</strong>
            <small class='quiet'>Following</small>
          </li>
          <li class='inline pad2x keyline-left hidden-xs'>
            <strong class='block space-bottom0'>33</strong>
            <small class='quiet'>Favorites</small>
          </li>
        </ul>
      </div>
    </div>
    <ul class='actions'>
      <li>
        <% link_to '#fakelink', class: 'btn btn-primary' do %>
          <i class='icon icon-plus pad0r' style='margin-top: -2px;'></i>Follow
        <% end %>
      </li>
    </ul>
  </div>
</header>

<div class='container-fluid contain'>
  <nav class='space-bottom4 dark'>
    <a href='/members.html' class='tab-link keyline-bottom quiet pad1y inline active'>Everyone  <span class='pull-right fill-darken1 img-circle center small pad0x space0l'>75</span></a>
    <a href='/speakers.html' class='tab-link keyline-bottom quiet pad1y inline'>Speakers  <span class='pull-right fill-darken1 img-circle center small pad0x space0l'>15</span></a>
  </nav>

  <ul class='fill-white pad3 users round space-bottom4'>
    <% 7.times do |num| %>
      <%= partial 'member', locals: { last: num == 6 } %>
    <% end %> 
  </ul>
</div>
