---
title: October 2016
---

<header class='inset-header dark'>
  <div class='container-fluid contain clearfix'>
    <div>
      <h1>October 2016</h1>
      <p class='lead quiet'>7 talks</p>
      <ul class='actions pin-bottomright'>
        <li>
          <%= link_to 'Sign up', '#fakelink', class: 'btn btn-success' %>
        </li>
      </ul>      
    </div>
  </div>
</header>

<div class='container-fluid contain pad4y'>
  <%= partial 'talks' %>
</div>
