---
title: October 2016
---

<header class='inset-header dark'>
  <div class='container-fluid contain clearfix'>
    <div>
      <h1>October 2016</h1>
      <p class='lead quiet'>7 talks</p>
      <ul class='actions pin-bottomright'>
        <li>
          <% link_to '#fakelink', class: 'btn btn-success' do %>
            <i class='icon icon-bullhorn pad0r hidden'></i>NEW TALK
          <% end %>
        </li>
      </ul>      
    </div>
  </div>
</header>

<div class='container-fluid contain pad4y'>
  <%= partial 'talks' %>
</div>
